@import 'variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';


// --------------- Custom styles

/* Header */
.navbar-brand {
    img {
        max-height: 2rem;
    }
}

/* ****** Login ***** */
form.login {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

/* *********** Main Content ************** */
#main_content {
    padding-bottom: 20px;
}

/* ********************* Tables ********************** */
table.table td.amount {
    text-align: right;
}
table.table td.boolean {
    text-align: center;
}

/* ********************* Forms ********************** */
.form-inline {

}

/* ****************** Lists ************************* */
ul.labels {

}
ul.labels li {
    margin: 10px 0;
}
ul.labels li .child_icon {
    width: 16px;
    height: 16px;
    background-image: url('pimx/images/ui-icons_ef8c08_256x240.png');
    background-position: -80px 0;
    display: inline-block;
}
ul.labels > li > .child_icon {
    background-position: -32px 0;
}
ul.labels li ul {
    padding: 0 0 0 20px;
    margin: 0 0 5px 0;
}
ul.labels li a.label {
    font-size: 12pt;
}

/* ***************** Movements ****************** */
#movement_labels {
    @extend .row;
}

table#movements_grid { 
    tr.future {
        td {
            color: $gray-600;
            font-style: italic;
        }
    }
    td.datetime {
        font-size: 0.8em;
        white-space: nowrap;
    }
}

.applied-accounts-list .sign-btn {
    &::after {
        font-family: "FontAwesome";
    }
    &.btn-danger {
        &::after {
            content: '\f063';
        }
    }
    &.btn-success {
        background-color: theme-color("success");
        &::after {
            content: '\f062';
        }
    }
}

/* ****************** Reports ************************* */
.report {
    display: inline-block;
}