body > header {
    border-bottom: 1px solid #D0D0D0;

/*    background-image: linear-gradient(bottom, rgb(255,212,254) 0%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(255,212,254) 0%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255,212,254) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,212,254) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(255,212,254) 0%, rgb(255,255,255) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(255,212,254)),
        color-stop(1, rgb(255,255,255))
        );*/

    -moz-box-shadow: 0px 1px 3px 1px #C0C0C0;
    -webkit-box-shadow: 0px 1px 3px 1px #C0C0C0;
    box-shadow: 0px 1px 3px 1px #C0C0C0;
}

body > header .navbar {
    margin-bottom: 0;
}

body > header .pimx_logo {
}
body > header .pimx_logo img {
    max-height: 25px;
}

body > header .user_panel {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

/* ****** Login ***** */
form.login {
    max-width: 400px;
}
form.login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

form.login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
form.login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* *********** Main Content ************** */
#main_content {
    padding-top: 52px;
    padding-bottom: 20px;
}

/* ******************** General ************************** */
h1 {
    margin: 0 -10px 10px -10px;
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
    background-color: #F6F6F6;
}
h2 {
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-size: large;
    background-color: #F6F6F6;
    padding: 5px;
}

/* ********************* Tables ********************** */
table.table td.amount {
    text-align: right;
}
table.table td.boolean {
    text-align: center;
}


/* *************  Filters  ************* */
section.filters {
/*    height: 40px;
    overflow: hidden;*/
}
section.filters h2 {
    cursor: pointer;
}

/* ****************** Lists ************************* */
ul.labels {

}
ul.labels li {
    margin: 10px 0;
}
ul.labels li .child_icon {
    width: 16px;
    height: 16px;
    background-image: url('pimx/images/ui-icons_ef8c08_256x240.png');
    background-position: -80px 0;
    display: inline-block;
}
ul.labels > li > .child_icon {
    background-position: -32px 0;
}
ul.labels li ul {
    padding: 0 0 0 20px;
    margin: 0 0 5px 0;
}
ul.labels li a.label {
    font-size: 12pt;
}

/* ****************** Forms ************************* */
/* Specifics */
form.standard #movement_appliedAccounts .fields_container {
    
}
form.standard #movement_appliedAccounts .fields_container .form-group {
    float: left;
}
form.standard #movement_appliedAccounts .form-group {
    
}
form.standard #movement_appliedAccounts label {
    display: none;
}
form.standard #movement_appliedAccounts input[type=text],
form.standard #movement_appliedAccounts input[type=number],
form.standard #movement_appliedAccounts select {
    width: 120px;
}

form.standard #movement_labels .checkbox {
    display: inline-block;
    width: 150px;
}
form.standard #movement_labels input {

}
form.standard #movement_labels label {

}

table#movements_grid td.datetime {
    font-size: 9pt;
    white-space: nowrap;
}

/* ****************** Reports ************************* */
.report {
    display: inline-block;
}