@charset "UTF-8";

/* A variation on Eric Meyer's CSS Reset:
   This is disabled because the Blueprint framework already has it.
   You should enable it if you aren't using Blueprint. */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: Arial, sans-serif;
    vertical-align: baseline;
    text-decoration: none;
}
body {
    line-height: 1;
    color: black;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse:collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
abbr,acronym {
    border:0;
}

/* Below are the CSS styles that aren't included with Blueprint. It's a good idea to keep them whether or not you use it unless you know what you're doing. */
/* ----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    font-size: 11pt;
}

body > header {
    height: 70px;
    border-bottom: 1px solid #D0D0D0;
    position: relative;

    background-image: linear-gradient(bottom, rgb(255,212,254) 0%, rgb(255,255,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(255,212,254) 0%, rgb(255,255,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255,212,254) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,212,254) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(255,212,254) 0%, rgb(255,255,255) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(255,212,254)),
        color-stop(1, rgb(255,255,255))
        );


    -moz-box-shadow: 0 2px 5px 3px #E0E0E0;
    -webkit-box-shadow: 0 2px 5px 3px #E0E0E0;
    box-shadow: 0 2px 5px 3px #E0E0E0;
}

body > header .pimx_logo {
    margin-right: 20px;
    float: left;
}

body > header ul.menu {
    display: block;
    position: absolute;
    bottom: 0;
    left: 230px;
}
body > header ul.menu li {
    /*margin: 15px 5px 0 0;*/
    display: inline-block;
}
body > header ul.menu li a {
    display: block;
    padding: 10px 5px;
    color: #333;
    font-size: 20px;
    background-color: #FFFFFF;

    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    -mox-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0; 

    /*    -moz-box-shadow: 0px 0px 3px 2px #EEEEEE;
        -webkit-box-shadow: 0px 0px 3px 2px #EEEEEE;
        box-shadow: 0px 0px 3px 2px #EEEEEE;*/
}
body > header ul.menu li a:hover {
    border-left: 1px solid #D0D0D0;
    border-top: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    -moz-box-shadow: inset 0px 0px 3px 2px #EEEEEE;
    -webkit-box-shadow: inset 0px 0px 3px 2px #EEEEEE;
    box-shadow: inset 0px 0px 3px 2px #EEEEEE;
}

body > header .user_panel {
    position: absolute;
    right: 10px;
    top: 10px;
}

#main_content {
    padding: 0 10px 10px 10px;
}


.flash-message {
    display: block;
    padding: 3px 10px;
}
.flash-message.notice {
    background-color: #99ff99;
    color: #003300;
}

/* ******************** General ************************** */
h1 {
    margin: 0 -10px 10px -10px;
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
    background-color: #F6F6F6;
}
h2 {
    margin: 10px 0 10px 0;
    font-weight: bold;
    font-size: large;
    background-color: #F6F6F6;
    padding: 5px;
}

a.button, button, input[type=submit] {
    display: inline-block;
    background: #C61AFF;
    color: #FFFFFF;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;

    border: 1px solid #BF00FF;
    -mox-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 

}
a.button:hover, button:hover, input[type=submit]:hover {
    background: #CC33FF;
    /*    border-left: 1px solid #D0D0D0;
        border-top: 1px solid #D0D0D0;
        border-right: 1px solid #D0D0D0;*/

    -moz-box-shadow: 1px 1px 2px 0 #D0D0D0;
    -webkit-box-shadow: 1px 1px 2px 0 #D0D0D0;
    box-shadow: 1px 1px 2px 0 #D0D0D0;
}

span.label, a.label {
    font-size: 10pt;
    display: inline-block;
    background-color: #ff9900;
    color: #FFFFFF;
    padding: 2px 3px;
}
span.label:hover, a.label:hover {
    background-color: #ffcc33;
}

/* ********************* Tables ********************** */
table.datagrid {

}
table.datagrid td,
table.datagrid th {
    /*font-size: small;*/
    border: 1px solid #DDDDDD;
    padding: 3px 5px;
}
table.datagrid th {
    font-weight: bold;
}

table.datagrid thead tr {
    background-color: #660099;
}
table.datagrid thead th {
    color: #FFFFFF;
    text-align: center;
}
table.datagrid tbody tr:nth-child(odd){
    background-color: #F0F0F0;
}
table.datagrid tbody tr:nth-child(even){

}
table.datagrid tbody tr:hover {
    background-color: #ffffcc;
}
table.datagrid td {
    font-size: 11pt;
}
table.datagrid td.amount {
    text-align: right;
}

ul.pagination {
    background-color: #EFEFEF;
}
ul.pagination li {
    display: inline-block;
}
ul.pagination li.prev {
    
}
ul.pagination li.next {
    
}
ul.pagination li a,
ul.pagination li span {
    display: block;
    padding: 5px;
}

/* ****************** Lists ************************* */
ul.labels {

}
ul.labels li {
    margin: 5px 0;
}
ul.labels li .child_icon {
    width: 16px;
    height: 16px;
    background-image: url('pimx/images/ui-icons_ef8c08_256x240.png');
    background-position: -80px 0;
    display: inline-block;
}
ul.labels > li > .child_icon {
    background-position: -32px 0;
}
ul.labels li ul {
    padding: 0 0 0 20px;
    margin: 0 0 5px 0;
}
ul.labels li a.label {
    font-size: 12pt;
}

/* ****************** Forms ************************* */
input, textarea, select {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

/* ---------- Login ---------- */
form.login {
    display: block;
    width: 300px;
    min-height: 100px;
    margin-left: -150px;
    margin-top: -100px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FAFAFA;

    border: 1px solid #CCCCCC;
    -mox-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: 0px 0px 5px 5px #E0E0E0;
    -webkit-box-shadow: 0px 0px 5px 5px #E0E0E0;
    box-shadow: 0px 0px 5px 5px #E0E0E0;
}
form.login .error_message {
    font-size: 10pt;
    color: #cc0000;
}
form.login .form_row {
    margin: 5px 0;
}
form.login .form_row label {
    display: inline-block;
    width: 100px;
}
form.login .form_row input {
    border: 1px solid #E0E0E0;
    padding: 5px 10px;
}
form.login button {
    display: block;
    margin: 0 auto;
}

/* ----- Entity --------- */
form.entity_form {
    /*width: 500px;*/
    display: inline-block;
}
form.entity_form .form_row {
    margin: 5px 0;
    display: inline-block;
}
form.entity_form .form_row * {
    float: left;
}
form.entity_form label {
    display: block;
    width: 150px;
    margin: 3px 0;
    font-weight: bold;
}
form.entity_form input[type=text],
form.entity_form input[type=number],
form.entity_form input[type=password],
form.entity_form input[type=date],
form.entity_form input[type=time],
form.entity_form textarea,
form.entity_form select {
    display: block;
    padding: 2px 4px;
    border: 1px solid #DDDDDD;
    -mox-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
form.entity_form input[type=text]:focus,
form.entity_form input[type=number]:focus,
form.entity_form input[type=password]:focus,
form.entity_form input[type=date]:focus,
form.entity_form input[type=time]:focus,
form.entity_form textarea:focus,
form.entity_form select:focus {
    border: 1px solid #C0C0C0;
    -moz-box-shadow: 0px 0px 3px 3px #D9D9F2;
    -webkit-box-shadow: 0px 0px 3px 3px #D9D9F2;
    box-shadow: 0px 0px 3px 3px #D9D9F2;
}
form.entity_form input[type=text],
form.entity_form input[type=number],
form.entity_form input[type=password],
form.entity_form textarea,
form.entity_form select {
    width: 300px;
}
form.entity_form input[type=date],
form.entity_form input[type=time]{
    width: 100px;
}

form.entity_form input[type=number]{
    text-align: right;
}

form.entity_form .form_row .fields_container {
    background-color: #F0F0F0;
}

form.entity_form section {
	float: left;
	margin-left: 2.0%;
	margin-bottom: 30px;
	width: 48.4%;
}
form.entity_form section:nth-of-type(2n+1) {
	margin-left: 0;
	clear: left;
}
@media screen and (max-width: 600px) {
	form.entity_form section {
		width: 100% !important;
		margin-left: 0 !important;
		clear: none !important;
	}
}
@media screen and (max-width: 500px) {
	form.entity_form section .form_row {
		width: 90%;
	}
	form.entity_form section .form_row label {
        float: none;
    }
    form.entity_form section input[type=text],
    form.entity_form section input[type=number],
    form.entity_form section input[type=password],
    form.entity_form section textarea,
    form.entity_form section select {
        width: 100%;
    }
    form.entity_form section input[type="date"],
    form.entity_form section input[type="time"] {
        width: 30%;
    }
}
form.entity_form section.bottom {
    display: block;
    float: none;
}

/* Specifics */
form.entity_form #movement_appliedAccounts .fields_container {
    display: inline-block;
}
form.entity_form #movement_appliedAccounts .form_row {
    float: left;
}
form.entity_form #movement_appliedAccounts label {
    display: none;
}
form.entity_form #movement_appliedAccounts input[type=text],
form.entity_form #movement_appliedAccounts input[type=number],
form.entity_form #movement_appliedAccounts select {
    width: 120px;
}


form.entity_form #movement_labels .fields_container {
    display: inline-block;
}
form.entity_form #movement_labels .form_row {
    float: left;
}
form.entity_form #movement_labels label {

}

table#movements_grid td.datetime {
    font-size: 9pt;
    white-space: nowrap;
}

/* ****************** Reports ************************* */
.report {
    display: inline-block;
}