/Symfony/app/logs
/Symfony/app/cache
/nbproject
/Symfony/src/Acme
/public_html/bundles/acmedemo
*.php~
*.php~
/Symfony/src/Pimx/ModelBundle/Entity/*.php~
/Symfony/vendor
/vendor
/app/cache
/app/logs
/public_html/images/Thumbs.db
/public_html/bundles
/public_html/css/compiled
/public_html/js/compiled
/db
/.idea
/app/config/parameters.yml
/node_modules
/app/Resources/users.yml
