{% extends 'PimxFrontendBundle::layout.html.twig' %}

{% block main_content %}
<h1 class="title">{% trans %}account.newaccount{% endtrans %}</h1>

<form class="entity_form standard"
      action="{{ path('_account_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" class="btn btn-primary" value="Save" />
</form>

{% endblock %}
