
{%- block checkbox_widget_parent -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget_parent -%}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form, null, { widget: block('checkbox_widget_parent') }) -}}
    {% else -%}
        <div class="checkbox col-xs-6 col-sm-4 col-md-6 col-lg-4">
            {{- form_label(form, null, { widget: block('checkbox_widget_parent') }) -}}
        </div>
    {%- endif %}
{%- endblock checkbox_widget %}
