{% extends 'PimxFrontendBundle::layout.html.twig' %}

{% block main_content %}
<h1 class="title">{% trans %}report.finance{% endtrans %}</h1>

<div id="report_monthbalance" class="report">
    <h2>{{'report.monthbalance'|trans}}</h2>
    {{ include( 'PimxFrontendBundle:Report:monthbalance.html.twig' ) }}
</div>

<div id="report_accountbalance" class="report">
    <h2>{{'report.accountbalance'|trans}}</h2>
    {{ include( 'PimxFrontendBundle:Report:accountbalance.html.twig' ) }}
</div>
{% endblock %}
