<ul class="menu">
    <li><a href="{{ path('_home') }}">{% trans %}menu.home{%endtrans%}</a></li>
    <li><a href="{{ path('_account') }}">{% trans %}menu.accounts{%endtrans%}</a></li>
    <li><a href="{{ path('_movement') }}">{% trans %}menu.movements{%endtrans%}</a></li>
</ul>
