{% extends 'PimxFrontendBundle::layout.html.twig' %}

{% block main_content %}
<h1 class="title">{% trans %}movement.newmovement{% endtrans %}</h1>

<form class="entity_form"
      action="{{ path('_movement_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" class="button" value="Save" />
</form>

{% endblock %}
